<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>회원가입</title>
</head>

<body>

<main class="flex-grow flex items-center justify-center" layout:fragment="main">
    <script>
        function JoinForm__submit(form) {
            // username 이(가) 올바른지 체크

            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length === 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크

            form.password.value = form.password.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.password.value.length === 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            form.passwordConfirm.value = form.passwordConfirm.value.trim();

            if (form.password.value != form.passwordConfirm.value) {
                toastWarning('비밀번호 확인이 일치하지 않습니다.');
                form.passwordConfirm.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>

    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-user-plus"></i>
            회원가입
        </h1>

        <form class="flex flex-col gap-6" method="POST" onsubmit="JoinForm__submit(this); return false;" th:action>
            <th:block th:if="false">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <input autofocus class="input input-bordered" name="username" placeholder="아이디" type="text"/>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">비빌번호</span>
                    </label>
                    <input class="input input-bordered" name="password" placeholder="비빌번호" type="password"/>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">비빌번호 확인</span>
                    </label>
                    <input class="input input-bordered" name="passwordConfirm" placeholder="비빌번호 확인" type="password"/>
                </div>

                <button class="btn btn-block btn-primary gap-1" id="btn-join-1">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>회원가입</span>
                </button>
            </th:block>

            <a class="btn btn-block btn-outline gap-1" href="/oauth2/authorization/kakao">
                <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
                <span>카카오 로그인</span>
            </a>

            <a class="btn btn-block btn-outline gap-1" href="/oauth2/authorization/naver">
                <i class="fa-solid fa-n text-[color:#2DB400]"></i>
                <span>네이버 로그인</span>
            </a>

            <a class="btn btn-block btn-outline gap-1" href="/oauth2/authorization/google">
                <i class="fa-brands fa-google text-[color:#ff4000]"></i>
                <span>구글 로그인</span>
            </a>

            <div class="flex flex-wrap justify-center">
                <a class="btn btn-link" href="/usr/member/login">로그인</a>
                <a class="btn btn-link" href="#">아이디찾기</a>
                <a class="btn btn-link" href="#">비밀번호찾기</a>
            </div>
        </form>
    </div>
</main>

</body>

</html>

